
  <p>
    <strong>書名:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>價格:</strong>
    <%= @book.price %>
  </p>

  <p>
    <strong>可使用折價卷序號:</strong>
    <% Coupon.set_coupons.each do |coupon| %>
      <%= "#{coupon.serial},"%>
    <% end %>
  </p>

  <p>
    <label for="serial"><strong>使用折價卷(輸入序號):</strong>
      <input type="text" name="serial" id="serial">
      <input type="submit" value="送出">
    </label>
  </p>

<%= link_to '返回', books_path %>
