
  <p>
    <strong>書名:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>價格:</strong>
    <%= @book.price %>
  </p>


<%#= link_to 'Edit', edit_book_path(@book) %> 
<%= link_to '返回', books_path %>
