
  <p>
    <strong>書名:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>價格:</strong>
    <%= @book.price %>
  </p>

  <p>
    <strong>可使用折價卷序號:</strong>
    <% Coupon.set_coupons.each do |coupon| %>
      <%= "#{coupon.serial},"%>
    <% end %>
  </p>

<%= link_to '返回', books_path %>
